.container{
    margin-top: 3.5rem;
}

.color{
    color: blue;
}

.txt{
    color: chartreuse;
}

body{
    color: black;
    background-image: url(/img/fondo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    color: black;
    /*background-color: dodgerblue;*/
    
}